__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/


.ipynb_checkpoints/

# Model and data outputs
/tamil-translation-model/
/evaluation_results.txt
*.pt
*.bin
*.h5
*.ckpt
*.safetensors
*.zip
*.txt

# Environment
.env
.venv/

# VS Code
.vscode/

